<div class="resource-card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <%= resource.title %>
    </h5>
    <p class="card-text">
      <%= resource.description %>
    </p>

     <!-- Resource Link -->
    <% if (resource.link_name && resource.link_url) { %>
      <p class="card-text">
         <a href="<%= resource.link_url %>" target="_blank" rel="noopener noreferrer">
          <%= resource.link_name %>
        </a>
      </p>
    <% } %>

    <div class="topic-box">
      <p class="card-text">
        <%= resource.topic%>
      </p>
    </div>
  </div>
  <div class="card-footer">
    <span class="author">Posted by: <%= resource.author %></span>
    <div class="card-actions">
      <!-- Average Rating
     should think how user can rate resource-->

      <div class="rating">
        <% for (let i = 1; i <= 5; i++) { %>
          <i class="fa-solid fa-star" data-index="<%= i %>"></i>
          <% } %>
      </div>

      <!-- Comments Button -->
      <button class="comment-btn">
        <i class="fa-solid fa-comment"></i>
      </button>

      <!-- Like Button -->
      <button class="like-btn">
        <i class="fa-solid fa-heart"></i>
      </button>

    </div>
  </div>

</div>
