<div class="resource-full-card" style="width: 24rem">
  <div class="card-body">
    <h2 class="resource-title"><%= resource.title %></h2>
    <p class="resource-description"><%= resource.description %></p>

    <% if (links && links.length > 0) { %>
    <h4>Link:</h4>
    <p>
      <a
        href="<%= links[0].url %>"
        class="resource-link"
        data-link-name="<%= links[0].name %>"
        target="_blank"
      >
        <%= links[0].name %>
      </a>
    </p>
    <% } %> <% if (topics && topics.length > 0) { %>
    <h4>Topic:</h4>
    <p><%= topics[0].topic_name %></p>
    <% } %>
  </div>

  <div class="card-footer">
    <span>Posted by: <%= resource.author %></span>

    <div class="card-actions">
      <button id="edit-btn" data-resource-id="<%= resource.id %>">Edit</button>
      <button id="delete-btn" data-resource-id="<%= resource.id %>">
        Delete
      </button>
      <button id="return-btn">Return to Resources</button>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/scripts/likes.js"></script>
<script src="/scripts/full_card.js"></script>
